<!DOCTYPE html>
<html lang="en">
  <head>  
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="static/css/bar.css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="static/css/all.min.css" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/templatemo-style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://code.iconify.design/2/2.2.0/iconify.min.js">
  
    
  </head >

  <body>


<div class="background-one">
  <div class="link-container">
    <a class="link-one" href="/oboff">
      <div class="tm-feature-icon-container">
        <i class=	"fas fa-street-view"style="font-size:55px"></i></div>
        <p class="text-center">Object Detection</p></a>
  </div>
</div>
<div class="background-two link-container">
  <a class="link-two" href="/mmoff">
    <div class="tm-feature-icon-container">
      <i class=	"fas fa-street-view"style="font-size:55px"></i></div>
      <p class="text-center">Motion Identify</p></a>
  
</div>
<div class="background-three link-container">
  <a class="link-three" href="/video"> <div class="tm-feature-icon-container">
    <i class="material-icons" style="font-size:62px">wifi_tethering</i></div>
    <p class="text-center">Live Stream</p></a>
</div></body>